In [1]:
#type String
print('Hallo Takumi')
print("Hallo Takumi")

Hallo Takumi
Hallo Takumi

In [2]:
#Variabel Type String
s1 = 'Halo'
s2= 'Takumi'
#menampilkan type string
print(s1)
print(s2)
print(s1+''+s2)

Halo
Takumi
HaloTakumi

In [5]:
#Membandingkn string 
s1= 'Halo'
s2= 'Takumi'

print(s1>s2)
print(s1>=s2)
print(s1<s2)
print(s1<=s2)
print(s1 !=s2)

False
False
True
True
True

In [9]:
#Mengambil Subtring; Mengunakantanda bracket[]
s='Takumi'
print(s[0])
print(s[-4])
print(s[:2])
print(s[:-2])
print(s[3:])
print(s[-2:])
print(s[0:3])
len(s)
print(s +''+'oke')
print(s*2)

T
k
Ta
Taku
umi
mi
Tak
Takumioke
TakumiTakumi

In [11]:
#menemukan Offset Subtrasing
s='Takumi'
s.replace('aku', 'Aku')

'TAkumi'

In [12]:
#Mengkonfersi huruf besar dan kecil
s='Takumi'
s.upper()

'TAKUMI'

In [13]:
#Type Numerik
a=1
b=-17
c=100
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'int'>
<class 'int'>

In [15]:
#Type Floatx=3.14
x=3.14
y=-0.175
z=2.05
print(type (x))
print(type (y))
print(type (z))

<class 'float'>
<class 'float'>
<class 'float'>

In [16]:
#Type Complex
s1=3+2j
s2=-2.5
print(type (s1))
print(type (s2))
print(s1.real)
print(s1.imag)

<class 'complex'>
<class 'float'>
3.0
2.0

In [17]:
#Konversi tipe Data Numerik
#Konversi ke Integer
x=int(3.14)
print(x)

#Konversike Float
b=float(-17)
print(b)

#Konversi ke complex
y=complex(-0.175)
print(y)

3
-17.0
(-0.175+0j)

In [19]:
#Operasi Aritmatika
a=15
b=6
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

21
9
90
2.5
2
3
11390625

In [ ]:
#Modul Math